body{
    margin:0px;
    padding:0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:14pt;
}
/*Style Header*/
header{
    border-bottom:1px solid #ccc;
}
header h1{
    margin-left: 20px;
   
}
.menu-principal{
    list-style: none;
    margin: 0;
    text-align: right;
  
}

.menu-principal li{
    display: inline-block;
    padding:5px;
    color: lightblue;
   
}

.menu-principal li a {
    text-decoration: none;
    color: lightblue;
}

.menu-principal li a:hover{
    color:blue;
}